name: Build

on:
  push:
  repository_dispatch:
    types: [run_build]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    container: ubuntu:14.04
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:george-edison55/cmake-3.x
        sudo apt-get update
        sudo apt-get install -y cmake cmake-data git build-essential autoconf libtool texinfo bison flex pkg-config python
    - name: Clone
      run: |
        export REV=dirty-$(git describe --always)
        git clone https://github.com/vitasdk/buildscripts.git
        chmod +x *.sh 
    - name: Build
      run: |
        cd buildscripts
        git config --global user.email "builds@travis-ci.com"
        git config --global user.name "Travis CI"
        mkdir build
        cd build
        cmake ..
        make -j$(nproc) tarball
    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: vitasdk-linux
        path: buildscripts/build/*.tar.bz2
    - uses: svenstaro/upload-release-action@v2
      if: contains(github.ref,'refs/heads/master')
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: buildscripts/build/*.tar.bz2
        overwrite: true
        file_glob: true
        tag: master-linux-v2.${{github.run_number}}     
        release_name: master-linux-v2.${{github.run_number}}
  build-macos:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        brew install automake libtool
    - name: Clone
      run: |
        export REV=dirty-$(git describe --always)
        git clone https://github.com/vitasdk/buildscripts.git
        chmod +x *.sh 
    - name: Build
      run: |
        cd buildscripts
        git config --global user.email "builds@travis-ci.com"
        git config --global user.name "Travis CI"
        mkdir build
        cd build
        cmake ..
        make -j$(nproc) tarball
    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: vitasdk-macos
        path: buildscripts/build/*.tar.bz2
    - uses: svenstaro/upload-release-action@v2
      if: contains(github.ref,'refs/heads/master')
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: buildscripts/build/*.tar.bz2
        overwrite: true
        file_glob: true
        tag: master-osx-v2.${{github.run_number}}     
        release_name: master-osx-v2.${{github.run_number}}
  build-windows:
    runs-on: ubuntu-latest
    container: ubuntu:14.04
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:george-edison55/cmake-3.x
        sudo apt-get update
        sudo apt-get install -y cmake cmake-data git build-essential autoconf libtool texinfo bison flex pkg-config g++-mingw-w64 python
    - name: Clone
      run: |
        export REV=dirty-$(git describe --always)
        git clone https://github.com/vitasdk/buildscripts.git
        chmod +x *.sh 
    - name: Build
      run: |
        cd buildscripts
        git config --global user.email "builds@travis-ci.com"
        git config --global user.name "Travis CI"
        unset CXX
        unset CC
        mkdir build
        cd build
        cmake .. -DCMAKE_TOOLCHAIN_FILE=toolchain-x86_64-w64-mingw32.cmake
        make -j$(nproc) tarball
    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: vitasdk-windows
        path: buildscripts/build/*.tar.bz2
    - uses: svenstaro/upload-release-action@v2
      if: contains(github.ref,'refs/heads/master')
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: buildscripts/build/*.tar.bz2
        overwrite: true
        file_glob: true
        tag: master-win-v2.${{github.run_number}}     
        release_name: master-win-v2.${{github.run_number}}
